
html, body {
    height:100%
}
header {
    height: 100%;
}
.va-t {
    vertical-align: top;
}
.va-b {
    vertical-align: bottom;
}
a {
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #1d262e;
    padding: 0;
    letter-spacing: .1rem;
    transition: .3s all ease-in-out;
}
a:hover {
    color: #fff;
    background:#1d262e; 
}
a:focus {
    color: #fff;
    background:#1d262e; 
}
.active>a {
    background:#1d262e;
    color:#fff;
    text-decoration: none;
}
button:focus{
    border-color: transparent;
    outline-color: #1d262e;
    border-radius: 0;
}
button.navbar-toggler {
    border:0;
}
button.navbar-toggler:focus {
    border-color:transparent;
}
nav {
    transition: .3s all ease-in-out;
}
.navbar-toggler-icon {
    width:2.5rem;
    height: 3.5rem;
}
.navbar-brand:visited {
    background-color:#1d262e;
    font-size: 46px;
    font-family: 'Michroma', sans-serif;
    color: #fff;
    line-height: .9;
    letter-spacing: 0px;
    height: 5rem;
    overflow: hidden;
    border: 0px;
    border-color: rgba(255, 255, 255, 0.137);
    box-shadow: 2px 0px 10px #1d262e;
}
.navbar-brand:visited:hover {
    color: #1d262e;
    background: transparent;
}
.navbar-brand:link {
    background-color:#1d262e;
    font-size: 46px;
    font-family: 'Michroma', sans-serif;
    color: #fff;
    line-height: .9;
    letter-spacing: 0px;
    height: 5rem;
    overflow: hidden;
    border: 0px;
    border-color: rgba(255, 255, 255, 0.137);
    box-shadow: 2px 0px 10px #1d262e;
    transition: all .3s ease-in-out;
}
.navbar-brand:hover {
    color: #1d262e;
    background: transparent;
}
#introduction {
    background-color:transparent;
    height: 100%;
    opacity: 0;
    transition: all 1s  ease-out;
}
#introduction.fade-in {
    background-color:transparent;
    height: 100%;
    opacity: 1;
}
.display-1 {
    font-family: 'Six Caps', sans-serif;
    font-size: 8rem;
    letter-spacing: 2rem;
}
.intro{
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Six Caps', sans-serif;
    font-weight: lighter;
    letter-spacing: .3rem;
}
small {
    font-family: 'Six Caps', sans-serif;
    font-weight: lighter;
    letter-spacing: .3rem;
}
.aboutMe{
    background-color:#1d262e;
}
picture {
    filter:contrast(120%) blur(.8px);
}
.aboutMe>.row .img-fluid {
    filter:blur(10px);
}
p.lead {
    /* background:#1d262e; */
    font-family: 'Montserrat',sans-serif;
    color: #eee;
}
#aboutMe .sectionHeader{
    background: linear-gradient(to bottom, transparent, #eee);
}
#aboutMe {
    transition: all 1.5s ease-in-out;
    opacity: 0;
}
#aboutMe.fade-in {
    opacity: 1;
}
.sectionHeader>div>h2 {
    background: transparent;
    font-family: 'Six Caps', sans-serif;
    color:#1d262e;
    letter-spacing: .5rem;
    font-weight: lighter;
}
.skillsBelt{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background: #eee;
}
/* .services img {
    width: 50%;
    height: 50%;
} */
.skillsBelt .frontEndSkills h4, .backEndSkills h4, .analyticalSkills h4{
    background:#eee;
    color:#1d262e;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
}
hr {
    box-shadow: 2px 0px 10px #1d262e;
    width: 75%;
}
.stats {
    background:#eee;
}
.stats h3 {
    background: #1d262e;
    color:#eee;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 2px 0px 10px #1d262e;
}
#works {
    background:#eee;
}
.bg-gray{
    background:#eee;
    color:#1d262e;
    font-family: 'Montserrat', sans-serif;
}
#contact .sectionHeader{
    background: linear-gradient(to bottom, #eee, transparent);
}
.contactForm {
    background: transparent;
}
.form-control {
    background: transparent;
    color: #1d262e;
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    border-color:#1d262e;
    border-top:0;
    border-left:0;
    border-right:5rem;
    border-radius: 0;
    transition: all .3s ease-in-out;
}
.form-control:focus {
    background: #eee;
    color: #1d262e;
    font-family: 'Montserrat', sans-serif;
    border-color:#1d262e;
    border-top:0;
    border-left:0;
    border-right:0;
    border-radius: 0;
    outline:0px !important;
    outline-color: #1d262e !important;
}
label {
    font-size:32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
textarea {
    height: 7rem;
}
#submit {
    background:#1d262e;
    color:#eee;
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    border:0;
    cursor: pointer;
    transition: all .5s ease-in-out;
    box-shadow: 2px 0px 10px #eee;
}
#submit:hover {
    background:#eee;
    color:#1d262e;
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    border:0;
    box-shadow: 2px 0px 10px #1d262e

}
.socialLinks>a:link{
    color:#1d262e;
    text-shadow: 2px 0px 10px #eee;
}
.socialLinks>a:hover {
    background: transparent;
    filter: blur(3px) !important;
}
.credits {
    background: #1d262e;
    color:#eee;
    font-family: 'Montserrat', sans-serif;
}
textarea[type="text"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {   
  border-color: #1d262e;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #1d262e;
  outline: 0 none;
}
/* .services img {
    width: 50%;
} */
/* .w-100 {
    width:100%;
}
.w-90{
    width:90%;
}
.w-80{
    width:80%;
}
.w-70 {
    width:70%;
}
.w-70 {
    width:70%;
}
.w-70 {
    width:70%;
}
.w-70 {
    width:70%;
}
.w-0 {
    background: transparent;
} */